<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="inner">


<h1>Editing Work</h1>

<%= render 'form' %>

<%= link_to 'Show', @work %> |
<%= link_to 'Back', works_path %>


    </div>
  </div>
</div>
