<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="inner">
      <h1>Drag Works Into Order</h1>
      <br>
      <div id="listWithHandle" class="list-group sortable">
	<% @works.each do |work| %>
	<div class="list-group-item" data-id="<%= work.id %>">
	  <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
	  <%= work.name  %>
	</div>
	<% end %>
      </div>
      <br>
      <%= link_to "Work Dashboard", works_path %>
      
    </div>
  </div>
</div>

<script>
var ready, set_positions;

set_positions = function(){
	// loop through and give each task a data-pos
	// attribute that holds its position in the DOM
	$('.list-group-item').each(function(i){
		$(this).attr("data-pos",i+1);
	});
}

ready = function(){

	// call set_positions function
	set_positions();

	$('.sortable').sortable();

	$('.sortable').sortable().bind('sortupdate', function(e, ui) {
		// array to store new order
		updated_order = []
		// set the updated positions
		set_positions();

		// populate the updated_order array with the new task positions
		$('.list-group-item').each(function(i){
			updated_order.push({ id: $(this).data("id"), position: i+1 });
		});

		// send the updated order via ajax
		$.ajax({
			type: "PUT",
			url: '/works/sort',
			data: { order: updated_order }
		});
	});
}

$(document).ready(ready);

</script>
