<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="inner">


<h1>New Information</h1>

<%= render 'form' %>

<%= link_to 'Back', information_index_path %>


    </div>
  </div>
</div>
