<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="inner">


	    <h1>New Information</h1>
	    <div style="overflow-y: scroll; height: 400px; border-width: 1px; border-style: solid; padding: 5px;">
<%= render 'form' %>

<%= link_to 'Back', information_index_path %>
		    </div>

    </div>
  </div>
</div>
