<style>
  body {
    overflow-y: hidden;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,237,250,1) 29%, rgba(204,199,214,1) 51%, rgba(238,237,240,1) 65%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(29%, rgba(230,237,250,1)), color-stop(51%, rgba(204,199,214,1)), color-stop(65%, rgba(238,237,240,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,237,250,1) 29%, rgba(204,199,214,1) 51%, rgba(238,237,240,1) 65%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,237,250,1) 29%, rgba(204,199,214,1) 51%, rgba(238,237,240,1) 65%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,237,250,1) 29%, rgba(204,199,214,1) 51%, rgba(238,237,240,1) 65%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,237,250,1) 29%, rgba(204,199,214,1) 51%, rgba(238,237,240,1) 65%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

html {
    overflow-y: hidden;
}

</style>

<% if browser.device.mobile? %>

<style>

  div#gallery-stand-in {
  position: absolute;
  width: 100%;
  height: 100%;
    background: url(<%= asset_path 'mobile_background.png' %>) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
</style>
<head>
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#6b6129">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#00d1ff">
</head>


<div id="gallery-stand-in">
</div>



<% else %>
<%= render 'gallery' %>
<% end %>

<footer>
  <div id="specialfooter">
    <a href="mailto:gerardo.veltri@gmail.com">Gerardo JV</a> // <a href="mailto:nschmidt@gmail.com">Nicolas Schmidt</a>
  </div>
</footer>
