<header><h1>MARTHA FRIEDMAN</h1></header>
<%= render 'gallery' %>
<footer><div id="specialfooter"><a href="http://workandtext.com">work</a> <a href="http://input-experience.com/">experience</a></div></footer>
