<header>
<div class="dropdown">
	<div type="button" id="dropdownMenu1" data-toggle="dropdown"><h1 style="font-weight:700;"><span class="caret"></span> MARTHA FRIEDMAN</h1></div>
	<ul class="dropdown-menu">
		<li><a href="#">Action</a></li>
		<li><a href="#">Another action</a></li>
	</ul>
</div>
</header>
<%= render 'gallery' %>
<footer><div id="specialfooter"><a href="http://workandtext.com">work</a> <a href="http://input-experience.com/">experience</a></div></footer>
