<div class="site-wrapper-inner">
	<div class="cover-container">
		<div class="cover inner">
			<div class="text-fields">
				<%= @about.html_safe %>
			</div>
		</div>
	</div>
</div>

<style>
  header ul ul {
  display: block;
  font-size: 20px;
  }
</style>
