<div class="site-wrapper-inner">
  <div class="cover-container">
	  2016 - Whitney Biennial All Floors the Only Artist<br>
	  2017 - Venice Biennale USA Pavilion Curated by Gerardo
  </div>
</div>

<%= render 'kill' %>
