<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="image-gallery">
      <% @works.each do |work|  %>
      <div><%= image_tag work.image.url(:medium) %>
	<p><%= work.name %> // <%= work.year %></p></div>
      <% end %>
    </div>
    <div class="image-gallery-nav">
      <% @works.each do |work|  %>
      <div><%= image_tag work.image.url(:thumb) %></div>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
	$('.image-gallery').slick({
		dots: false,
		infinite: true,
		speed: 400,
		slidesToShow: 1,
		slidesToScroll: 1,
		asNavFor: '.image-gallery-nav',
		arrows: true		
	});
});
$(document).ready(function(){
	$('.image-gallery-nav').slick({
		dots: false,
		infinite: true,
		speed: 400,
		slidesToShow: 5,
		slidesToScroll: 1,
		asNavFor: '.image-gallery',
		centerMode: true,
focusOnSelect: true,
arrows: false
	});
});
</script>
