<div class="site-wrapper-inner">
	<div class="cover-container">
		<div class="cover inner">
			<div class="text-fields">
				<%= @press.html_safe %>
				<div>
				<% @press_documents.each do |p_d| %>
					<%= link_to p_d.name, p_d.pdf.url %><br>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
