/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require slick
 *= require slick-theme
 *= require_self
 */

html {
    height:100%;
    width:100%;
    font-family:sans-serif;
    overflow-y: hidden;
}

body {
    margin:0;
    height:100%;
    width:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: hidden;
}

#container {
    height: 100%;
    width: 100%;
    min-height: 100%;
    display: table;
}

li {
    list-style-type: none;
}

header ul li a:hover {
    text-decoration: none;
    color: #ff087f;
    background-color: none;
}

a.title:visited {
    text-decoration: none;
}

a.title:active {
    text-decoration: none;
    background-color: none;
}

header ul li a {
    color: #000;
}

header {
    position:absolute;
    width:100%;
    margin:0;
    padding:.5em 2em;
    z-index: 1;
}

header ul li a.title {
    font-size:1.8em;
    color:rgb(40,40,40);
    letter-spacing:0.6em;
    font-weight: 700;
}

footer {
    position:absolute;
    width:100%;
    margin:0;
    bottom:30px;
    max-height:20px;
    text-align:center;
    font-size:1em;
    color:rgb(255,255,255);
    letter-spacing:0.2em;
    text-decoration:none;

}

footer a:hover {
    color:rgb(255,102,255);
}

#specialfooter {
    padding:5px 2em 0px 2em;
}

.text-fields {
    padding: 0 20%;
}


/* image gallery styles */
.image-gallery .slick-track {
    height: 500px;
}

.image-gallery-nav .slick-track {
    height: 120px;
}

.slick-slide {
    height: 100%;
    text-align: center;
}

.slick-slide::before {
    content: '';
    display: inline-block;
    height: 95%;
    vertical-align: middle;
}

.slick-slide div.image-and-text {
    vertical-align: middle;
    display: inline-block;
}

.image-gallery-nav .slick-slide img {
    vertical-align: middle;
    display: inline-block;
}

.slick-slide {
    -webkit-filter: grayscale(0.75);
    -webkit-filter: grayscale(75%);
    filter: gray;
    filter: grayscale(75%);
}

.slick-current {
    -webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    filter: none;
    filter: grayscale(0);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    height: 500px;
}

div.image-gallery img {
    max-height: 480px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

div.image-gallery p {
    vertical-align: bottom;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 11px;
    color: #888;
    margin-top: 2px;
    margin-bottom: 0px;
}

div.image-gallery-nav img {
    max-width: 90%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* resize for bigger monitors  */

/* horizontal adjusting */
@media (min-width: 1024px) {
    .masthead,
    .mastfoot,
    .cover-container {
	width: 800px;
    }
    div.image-gallery img {
	max-width: 700px;
    }

}
@media (min-width: 1200px) {
    .masthead,
    .mastfoot,
    .cover-container {
	width: 1000px;
    }
    div.image-gallery img {
	max-width: 900px;
    }

    
}
@media (min-width: 1800px) {
    .masthead,
    .mastfoot,
    .cover-container {
	width: 1600px;
    }
    div.image-gallery img {
	max-width: 1500px;
    }

}

/* vertical adjusting */
@media (min-height: 1100px) {
    .image-gallery .slick-track {
	height: 700px;
    }
    .cover-container {
	transform: translate(0px, -100px);
    }
    div.image-gallery .image-and-text {
	/* height: 700px; */
    }
    div.image-gallery img {
	max-height: 680px;
    }
}


/* mobile version */
@media (max-width: 768px) {
    
    div.image-gallery-nav {
	display: none;
    }

    div.image-gallery {
	margin-top: 50px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
    }

    div.cover-container {
	margin: 20% 0 0;
	width: 100%;
    }

    div.image-gallery .image-and-text {
	max-height: 500px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
    }

    div.image-gallery img {
	max-width: 100%;
    }

}


*:focus {outline:0;}

/* drop down menu  */

header ul a
{
    display:block;
}

header ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

header ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0
}

header ul ul li
{
    float:none;
    width:200px
}

header ul ul a
{
    line-height:120%;
    padding:10px 15px
}

header ul ul ul
{
    top:0;
    left:100%
}

header ul li:hover > ul
		   {
		       display:block
		   }

/* Sortable placeholder  */

.sortable-placeholder {
    border: 1px dashed #CCC;
    background-color: #f9f9f9;
    height: 40px;
}

/* force no underline */
a.menu-styles {
    text-decoration: none;
}

a.bold {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

/* editing pages */

div.listing {
    height: 300px;
    overflow-y: scroll;
}


@media (min-height: 800px) {
    div.listing {
	height: 600px;
    }
}